
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>View Locations</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/behrend-tour.js"></script>



  </head>


    <div id="admin-menu">
      <div>
      <a href="google.com">Account</a>
      <div style="background-color:white; float:right; width:2px !important; "></div>
      <a href="/add-location">Add Location</a>
      <div style="background-color:white; float:right; width:2px !important;"></div>
      <a href="view-locations">View Locations</a>
    </div>
    </div>

    <div id="page-title">
      <div id="location-title" style="text-align: center;">
        <span>View Locations</span>
      </div>
    </div>



  <div id="content" style="height:100%; width:500px; margin-left:150px;">

     <div id ="location-table" class="container">
       <% locations.forEach(function(location){ %>
        <div class="row">
          <div class="col" style="margin-right: 200px;">
            <div id="location-image" style="background-color:#C4C4C4;">
              <img src="<%=location.local.imageURL%>" style="height:100%; width:100%">
          </div>
          </div>
          <div class="col" style="margin-right: 200px; margin-top:75px;">
            <%=location.local.name%>
          </div>

          <div class="col" style="margin-right: 200px; margin-top:75px;">
            <%=location.local.checkins %>
          </div>

          <div class="col" style="margin-right: 50px; margin-top:75px;">
            <a href="/edit-location/<%=location.local.name%>">edit</a>
          </div>

          <div class="col" style="margin-top:75px;">
            <a href="/delete/<%=location.local.name%>">delete</a>
          </div>
        </div>
        <hr>
        <% }); %>
     </div>

  </div>

</html>
